body {
    background: url("./pokemon-bg.jpg");
    /*background: url("./solid-color-image.jpeg");*/
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 56%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 9px solid #ede2ae;
    border-radius: 7px;
    margin-top: 13%;
}

.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}

button {
    width: 80px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin-top: 4px;
    border-radius: 7px;
}